# ==========================================
# 📦 종속성 및 부품 상자 (원천 차단)
# ==========================================
node_modules/
/dist/
/build/
.npm
sh.pid
sh.exit

# ==========================================
# 🔑 로그 및 보안 민감 정보 (깃허브 푸시 방어벽 🚨)
# ==========================================
.env
.env.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 인호 네가 아까 비밀번호나 토큰 적어뒀던 메모장도 깃 망에 안 올라가게 안전장치 확보!
readme.txt

# ==========================================
# 💻 에디터 및 개발 툴 찌꺼기 (OS / IDE 캐시)
# ==========================================
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS 찌꺼기
.DS_Store
Thumbs.db